<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/b
eans
http://www.springframework.org/schema/beans/springbeans.
xsd">
<bean id="facebook"
class="com.rm.dev.springbootpractice.withoutbootxml.beans.Facebook">
</bean>
<bean id="whatsapp"
class="com.rm.dev.springbootpractice.withoutbootxml.beans.Whatsapp">
<property name="xmlJdbcConnection"
ref="xmlJdbcConnection"/>
</bean>