<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean id="facebookByName"
		class="com.rm.learn.springmvcxml.beans.Facebook" autowire="byName" primary="true"></bean>
	<bean id="whatsappByType"
		class="com.rm.learn.springmvcxml.beans.Whatsapp" autowire="byName"></bean>

	<bean id="messagingController"
		class="com.rm.learn.springmvcxml.controller.MessagingController"
		autowire="byType"></bean>
		
		<bean id="service"
		class="com.rm.learn.springmvcxml.service.MessagingService"
		autowire="byType"></bean>


</beans>